:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom styles for lite-youtube */
lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  width: 553px;
  height: 311px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  lite-youtube,
  lite-youtube iframe {
    width: 450px !important;
    height: 260px !important;
  }
}

@media (max-width: 1000px) {
  lite-youtube,
  lite-youtube iframe {
    width: 400px !important;
    height: 230px !important;
  }
}

@media (max-width: 900px) {
  lite-youtube,
  lite-youtube iframe {
    width: 553px !important;
    height: 311px !important;
  }
}

@media (max-width: 600px) {
  lite-youtube,
  lite-youtube iframe {
    width: 320px !important;
    height: 180px !important;
  }
}

lite-youtube::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

lite-youtube > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  border-radius: 14%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

lite-youtube:hover > .lty-playbtn {
  background-color: #f00;
}

lite-youtube > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

lite-youtube.lyt-activated {
  cursor: unset;
}

lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
